@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");

* {
	font-family: "Poppins";
	margin: 0;
	padding: 0;
}

html {
	scroll-behavior: smooth;
	transition: all ease 0.2s;
}

:root {
	--primary-color-light: #1b1b1b;
	--secondary-color-light: #ececec;
	--btn-hover-bg-color-light: rgba(174, 174, 174, 0.493);
	--btn-bg-color-light: rgba(217, 217, 217, 0.35);
}

/* Home Page Style */
.homepage {
	margin-top: 150px;
	/* gap: 60vh;	 */
	display: flex;
	flex-direction: row;
	text-align: center;
	justify-content: space-evenly;
	align-items: center;
	align-content: center;
}
/* navbar light */
nav {
	background-color: var(--btn-bg-color-light);
	font-size: 19px;
}
nav ul {
	width: 100%;
	list-style: none;
	display: flex;
	justify-content: flex-end;
	align-items: center;
}
.navbar:last-child {
	margin-right: auto;
}

nav li {
	height: 60px;
}

nav a {
	height: 100%;
	padding: 0 50px;
	text-decoration: none;
	color: rgb(24, 24, 24);
	font-weight: 700;
	display: flex;
	align-items: center;
}

nav a:hover {
	font-size: 21px;
	text-decoration: underline;
	transition: all 0.2s ease-in-out;
}

nav img:hover {
	scale: 1.1;
	transition: all 0.2s ease-in-out;
}

nav img:active {
	scale: 0.9;
	transition: all 0.2s ease-in-out;
}
.sidebar {
	position: fixed;
	top: 0px;
	right: 0;
	height: 600px;
	width: 250px;
	z-index: 999;
	background-color: #ffffff7e;
	backdrop-filter: blur(9px);
	border: 1px solid gray;
	border-radius: 0 0 40px 40px;
	display: none;
	flex-direction: column;
	align-items: flex-end;
	justify-content: flex-start;
}
.menu-btn {
	display: none;
}

/* head title */
.head-logo {
	width: 250px;
	height: 250px;
}

@font-face {
	font-family: "Sequel-86";
	src: url(./fonts/Sequel100Black-86.ttf);
}
@font-face {
	font-family: "Sequel100Black-75";
	src: url(./fonts/Sequel100Black-75.ttf);
}
.head {
	color: var(--primary-color-light);
	font-size: 40px;
	font-style: normal;
	font-weight: 800;
	text-align: center;
	letter-spacing: 0.1px;
}
.head-title {
	color: var(--primary-color-light);
	font-size: 50px;
	font-style: normal;
	font-weight: 750;
	line-height: normal;
	letter-spacing: 1.5px;
}

#ser_btn {
	font-size: 35px;
	font-style: normal;
	font-weight: 800;
	line-height: normal;
	background-color: var(--primary-color-light);
	color: var(--secondary-color-light);
	border: none;
	padding: 10px;
	border-radius: 27px;
	width: 300px;
	margin-top: 100px;
	transition: all 0.2s ease-in-out;
}

#ser_btn:hover {
	background: var(--secondary-color-light);
	color: var(--primary-color-light);
	scale: 1.09;
	cursor: pointer;
	transition: all 0.2s ease-in-out;
}
#hire-btn:hover,
#contact-btn:hover {
	background-color: var(--btn-hover-bg-color-light);
	scale: 1.09;
	transition: all 0.2s ease-in-out;
}

#ser_btn:active,
#hire-btn:active,
#contact-btn:active,
.hire-m:active {
	scale: 0.95;
	transition: all 0.2s ease-in-out;
}

hr {
	width: 90%;
	margin: auto;
}

.hire-m {
	font-family: "Poppins";
	width: 300px;
	font-size: 25px;
	font-weight: 500;
	letter-spacing: 1.5px;
	line-height: 45px;
	border-radius: 30px;
	background: none;
	color: var(--primary-color-light);
	border: 2px solid var(--primary-color-light);
}
.hire-m:hover {
	color: var(--secondary-color-light);
	background: var(--primary-color-light);
	scale: 1.05;
	transition: all 0.2s ease-in-out;
}
/* About Section */

.creator {
	border-radius: 45px;
	width: 200px;
}

@font-face {
	font-family: "Sequel100Black-55";
	src: url(./fonts/Sequel100Black-55.ttf);
}
.abt {
	text-align: left;
	font-size: 19px;
	font-weight: 600;
	padding: 12px;
}
.about {
	display: flex;
	justify-content: space-evenly;
	margin-top: 19vh;
}

.abt-foot {
	display: flex;
	flex-direction: row;
	flex-wrap: nowrap;
	justify-content: space-evenly;
	margin-top: 100px;
	font-family: "Sequel100Black-55";
}

.abt-foot h2 {
	font-family: "Sequel100Black-75";
}

.abt-foot {
	font-weight: 600;
	font-size: 20px;
}

.creator-name h3 {
	font-family: "Sequel100Black-75";
	font-weight: 400;
	letter-spacing: 0.72px;
	word-wrap: break-word;
}
.creator-name p {
	font-family: "Sequel100Black-55";
	font-weight: 400;
	letter-spacing: 0.64px;
}

.creator-name {
	display: flex;
	flex-direction: column;
	/* margin-left: 210px; */
}

/* Hire and contact Section */
@font-face {
	font-family: "Sequel100Black-45";
	src: url(./fonts/Sequel100Black-45.ttf);
}
/* 
#hire,
#contact {
	display: flex;
	justify-content: center;
} */

#hire input[type="email"],
#contact input[type="email"],
#contact input[type="text"] {
	width: 800px;
	height: 45px;
	border: none;
	padding-left: 12px;
	border-radius: 10px;
	background-color: #eaeaeacc;
	box-shadow: 20px 20px 70px #cdcdcd, -20px -20px 60px #ffffff;
}

textarea {
	width: 800px;
	height: 200px;
	resize: none;
	background-color: #eaeaeacc;
	box-shadow: 20px 20px 60px #dadada, -20px -20px 60px #ffffff;
	border: none;
	border-radius: 10px;
	padding: 12px;
}

::-webkit-input-placeholder {
	color: var(--primary-color-light);
}

#hire-btn,
#contact-btn {
	color: var(--primary-color-light);
	font-size: 20px;
	padding: 25px;
	width: 150px;
	text-align: center;
	font-style: normal;
	font-weight: 700;
	line-height: normal;
	background: var(--btn-bg-color-light);
	border: 1px solid var(--primary-color-light);
	padding: 10px;
	border-radius: 35px;
	transition: all 0.2s ease-in-out;
	cursor: pointer;
}

form label {
	font-family: "Sequel100Black-45";
	/* line-height: 0px; */
	display: block;
}
form {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	margin-right: auto;
}

/* #hire input[type="email"],
#contact input[type="email"],
#contact input[type="text"],
textarea {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
} */

/* footer */

/* .footer:last-child {
	display: none;
} */
.footer {
	display: flex;
	flex-direction: row;
	gap: 100vh;
	justify-content: center;
}

.doc a {
	text-decoration: none;
	color: var(--primary-color-light);
	line-height: 40px;
}
.doc a:hover {
	text-decoration-line: underline;
	font-size: 17px;
	transition: all 0.2s ease-in-out;
}
.social-media {
	font-size: 17px;
}

.social-media h3 {
	text-align: right;
}
.social-media img {
	margin-right: 10px;
	width: 37px;
	border-radius: 10px;
}

#resume-btn {
	padding: 10px 30px;
	color: var(--primary-color-light);
	text-decoration: none;
	text-align: center;
	width: 190px;
	border: 1px solid var(--primary-color-light);
	border-radius: 40px;
	font-weight: 600;
	font-size: 20px;
	margin-top: 100px;
}
#resume-btn:hover {
	font-size: 22px;
	cursor: pointer;
	color: var(--secondary-color-light);
	background-color: var(--primary-color-light);
	transition: all 0.2s ease-in-out;
}

.rights {
	font-size: 15px;
	margin-left: 35px;
	position: static;
}

.social-media img:hover {
	width: 52px;
	transition: all 0.2s ease-in-out;
}

/* service page buttons */

.service-container {
	display: flex;
	flex-direction: row;
	gap: 50vh;
	align-items: center;
	justify-content: center;
}

#ui-ux,
#web-dev,
#vid-edit,
#logo-des,
#photo-edit,
#banner-des {
	width: 250px;
	padding: 20px;
	height: 120px;
	border: none;
	margin: auto;
	border-radius: 35px;
	background-color: #f0f0f0;
	box-shadow: 20px 20px 60px #d7d7d7d5, -20px -20px 60px #ffffff;
	top: 100px;
	cursor: pointer;
}
.service-icon {
	margin-right: 20px;
}

.service-container button:hover {
	scale: 1.1;
	transition: all 0.1s ease-in-out;
}

/* 404 Error Page */
.err-404 {
	color: var(--primary-color-light);
	text-align: center;
	margin-top: 20%;
}

/* ui/ux page */
.wrapper {
	display: flex;
	max-width: 1200px;
	position: relative;
	margin: auto;
}
.wrapper i {
	top: 50%;
	height: 70px;
	width: 70px;
	color: var(--secondary-color-light);
	cursor: pointer;
	font-size: 1.5rem;
	position: absolute;
	text-align: center;
	line-height: 70px;
	background: var(--primary-color-light);
	border-radius: 50%;
	transform: translateY(-50%);
	transition: transform 0.1s linear;
}
.wrapper i:active {
	transform: translateY(-50%) scale(0.9);
}
.wrapper i:hover {
	background: #c9c9c9;
	color: var(--primary-color-light);
}
.wrapper i:first-child {
	left: -22px;
	/* display: none; */
}
.wrapper i:last-child {
	right: -22px;
}
.wrapper .carousel {
	font-size: 0px;
	cursor: pointer;
	overflow: hidden;
	white-space: nowrap;
	scroll-behavior: smooth;
}
.carousel.dragging {
	cursor: grab;
	scroll-behavior: auto;
}
.carousel.dragging img {
	pointer-events: none;
}
.carousel img {
	height: 300px;
	object-fit: cover;
	/* user-select: none; */
	margin-left: 14px;
	border-radius: 20px;
	width: 500px, calc(100% / 3);
}

.carousel img:first-child {
	margin-left: 0px;
}

.carousel.dragging iframe {
	pointer-events: none;
}
.carousel iframe {
	height: 300px;
	margin-left: 14px;
	border-radius: 20px;
}
iframe {
	width: 600px;
	border: 1px solid;
}

.carousel iframe:first-child {
	margin-left: 0px;
}

/* Scrollbar Style */
::-webkit-scrollbar {
	width: 6px;
}

/* Track */
::-webkit-scrollbar-track {
	background-color: #c7c7c7;
}

/* Handle */
::-webkit-scrollbar-thumb {
	background: #292929;
	border-radius: 10px;
}

/* Documentation pages starts */

/* Disclaimer */
.documentation-area {
	width: 85%;
	background-color: var(--btn-bg-color-light);
	padding: 20px;
	border-radius: 30px;
	font-size: 15px;
}

/* nft page */

#nft-h {
	display: flex;
	text-align: center;
	justify-content: center;
	align-content: center;
}

.first_nft {
	display: flex;
	justify-content: space-evenly;
	align-items: center;
	align-content: center;
	flex-direction: row;
	width: 65%;
	height: 250px;
	margin-top: 50px;
	border-radius: 45px;
	/* background: #f5f5f5; */
	color: var(--secondary-color-light);
	background-image: url(./asserts/bg.jpg);
	background-repeat: no-repeat;
	box-shadow: 28px 28px 56px #e7e7e7, -28px -28px 56px #ffffff;
}

.lab {
	font-family: "Poppins";
	margin-bottom: 20px;
}

#nft-form input[type="text"],
input[type="email"],
input[type="number"] {
	width: 280px;
	height: 50px;
	padding-left: 15px;
	border: none;
	border-radius: 11px;
	background: #f9f9f9;
	box-shadow: 11px 11px 24px #ebebeb, -11px -11px 24px #ffffff;
}

#nft-form button {
	width: 150px;
	height: 50px;
	font-size: 15px;
	font-weight: 600;
	border: none;
	border-radius: 15px;
	background: #f8f8f8;
	box-shadow: 11px 11px 24px #dedede, -11px -11px 24px #ffffff;
	cursor: pointer;
}

#nft-form button:hover {
	scale: 1.15;
	transition: all 0.1s ease-in-out;
}

#nft-form button:active {
	scale: 0.95;
	transition: all 0.2s ease-in-out;
}
/* Media Queries starts here */

@media screen and (max-width: 1290px) {
	.first_nft {
		width: 80%;
	}
}

@media screen and (max-width: 1070px) {
	.first_nft p {
		font-size: 15px;
	}
}

@media screen and (max-width: 760px) {
	.first_nft p {
		font-size: 13px;
		padding: 12px;
	}
}
@media screen and (max-width: 900px) {
	.carousel img {
		width: calc(100% / 2);
	}
}
@media screen and (max-width: 550px) {
	.carousel img {
		width: 100%;
	}

	#hire input[type="email"],
	#contact input[type="email"],
	#contact input[type="text"],
	textarea {
		width: 150px;
		transition: all 0.2s ease-in-out;
	}
}

@media screen and (max-width: 690px) {
	.homepage {
		display: flex;
		flex-direction: column;
	}

	.abt-foot {
		display: flex;
		flex-direction: column;
		justify-content: center;
		text-align: center;
		gap: 10vh;
		flex-wrap: nowrap;
	}
	.head-logo {
		width: 150px;
		height: auto;
		margin-bottom: 10vh;
		transition: all 0.2s ease-in-out;
	}
}
@media screen and (max-width: 995px) {
	.about,
	.abt {
		display: flex;
		flex-direction: column;
		justify-content: center;
		text-align: center;
		align-items: center;
		font-size: 17px;
	}

	.abt {
		margin-top: 25px;
	}

	.first_nft {
		flex-direction: column;
		height: 500px;
	}
	.first_nft img {
		width: 120px;
		height: 120px;
	}
}

@media screen and (max-width: 765px) {
	.desknav {
		display: none;
		transition: all 0.2s linear;
	}
	.menu-btn {
		display: block;
		transition: all 1.2s ease-in-out;
	}
}

@media screen and (max-width: 350px) {
	.sidebar {
		width: 100%;
		transition: all 0.2s ease-in-out;
		border-radius: 0 0 40px 40px;
		top: 0;
	}
}

@media screen and (max-width: 902px) {
	#hire input[type="email"],
	#contact input[type="email"],
	#contact input[type="text"],
	textarea {
		width: 500px;
		transition: all 0.2s ease-in-out;
	}

	.service-container {
		gap: 20vh;
		transition: all 0.2s ease-in-out;
	}
}

@media screen and (max-width: 535px) {
	#hire input[type="email"],
	#contact input[type="email"],
	#contact input[type="text"],
	textarea {
		width: 250px;
		transition: all 0.2s ease-in-out;
	}

	.head-title {
		font-size: 45px;
	}
	.tagline {
		font-size: 15px;
	}
	.head {
		font-size: 30px;
	}
	.abt-foot {
		font-size: 15px;
	}

	.abt {
		font-size: 15px;
		margin-top: 45px;
	}
}

@media screen and (max-width: 1215px) {
	.footer {
		gap: 60vh;
		transition: all 0.2s ease-in-out;
	}
}

@media screen and (max-width: 880px) {
	.footer {
		gap: 40vh;
		transition: all 0.2s ease-in-out;
	}
}

@media screen and (max-width: 712px) {
	.footer {
		flex-direction: column;
		justify-content: center;
		align-items: center;
		text-align: center;
		transition: all 0.3s ease-in-out;
		gap: 10vh;
	}
	.social-media h3 {
		text-align: center;
	}
	.service-container {
		flex-direction: column;
		gap: 0;
		transition: all 0.2s ease-in-out;
	}
}

@media screen and (max-width: 370px) {
	#ser_btn {
		font-size: 25px;
		width: 270px;
		border-radius: 20px;
		transition: all 0.2s ease-in-out;
	}

	.hire-m {
		font-size: 20px;
		width: 270px;
		border-radius: 20px;
		transition: all 0.2s ease-in-out;
	}
}
